
/* Light Mode Styles */
body {
  background-color: #ffffff;
  color: #333333;
}

/* Dark Mode Styles */
.dark-mode-app {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode-app .navbar {
  background-color: #111010;
  color: #ffffff;
}

.navbar {
  background-color: #c71c16;
  color: #ffffff;
  display: flex;
  justify-content: space-between; /* Horizontally spread out the children */
  align-items: center; /* Vertically center the children */
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-item button{
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.navbar-right button {
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}