
/* Light Mode Styles */

.main-container {
  background-color: #ffffff;
  color: #111010;
  min-width: fit-content;
}

.App {
  background-color: #ffffff;
  color: #111010;
  min-width: fit-content;
  height: 400vh;
}

/* Dark Mode Styles */
.dark-mode-app {
  background-color: #111010;
  color: #ffffff;
}

.dark-mode-app .navbar {
  background-color: #111010;
  color: #ffffff;
}

/* Navbar Styles */
.navbar {
  background-color: #c71c16;
  color: #ffffff;
  display: flex;
  justify-content: space-between; /* Horizontally spread out the children */
  align-items: center; /* Vertically center the children */
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  margin: 10;
  padding: 10;
  align-items: center;
  margin-left: 100px;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-item button{
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 5px;
}

.navbar-right button {
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 5px;
  margin-right: 100px;
}

button {
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* Add a transition for smooth hover effect */
}

button:hover {
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
}

.logo {
  font-size: 50px;
  padding: 0px;
  margin: 0px;
}

/* General Styles */

h1 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  letter-spacing: 2px;
}

h2 {
  font-family: sans-serif;
}
/* Home Styles */

.main-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-wrap: wrap;
  background-color: transparent;
  color: inherit;
  margin-left: 100px;
  padding-left: 50px;
}

.footer {
  color: inherit;
  padding: 100px;
}

/* About Styles */
.about-container {
  margin-left: 100px;
  padding: 50px;
}

.image-container{
  display: flex;
  flex-wrap: wrap;
}

.about-image-1 {
  width: auto;
  height: auto;
  max-width: auto;
  max-height: 250px;
  border-radius: 10px;
  padding: 5px;
}

.about-image-2 {
  width: auto;
  height: auto;
  max-width: auto;
  max-height: 510px;
  border-radius: 10px;
  padding: 5px;
}

.about-image-3 {
  width: auto;
  height: auto;
  max-width: auto;
  max-height: 250px;
  border-radius: 10px;
  padding: 5px;
}

.image-container-one {
  display: flex;
  flex-direction: column;
}

.image-container-two {
  display: flex;
  flex-direction: column;
}

.image-container-three {
  display: flex;
  flex-direction: column;
}

/* Portfolio Code */
